[submodule "moja-strona-hugo/themes/hello-friend-ng"]
	path = moja-strona-hugo/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "mysite/themes/ananke"]
	path = mysite/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "mysite/themes/hello-friend-ng"]
	path = mysite/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/salinger"]
	path = themes/salinger
	url = https://github.com/jacksalici/salinger-theme.git
